iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        validate = true
        files {
            idkey = "id"
            global = [
                "**/ArborView/*.html",
                "**/clusters/clusters.text",
                "**/clusters/run.json",
                "**/clusters/thresholds.json",
                "**/clusters/tree.nwk",
                "**/distances/allele_map.json",
                "**/distances/query_profile.text",
                "**/distances/ref_profile.text",
                "**/distances/results.text",
                "**/distances/run.json",
                "**/merged/profile.tsv",
                "**/problems/problematic_samples.csv"
            ]
        }
    }
}
