iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        validate = true
        files {
            idkey = "id"
            global = [
                "**/ArborView/arborview.clustered_data_arborview.html",
                "**/clusters/gas.mcluster.clusters.text",
                "**/clusters/gas.mcluster.run.json",
                "**/clusters/gas.mcluster.thresholds.json",
                "**/clusters/gas.mcluster.tree.nwk",
                "**/distances/profile_dists.allele_map.json",
                "**/distances/profile_dists.query_profile.text",
                "**/distances/profile_dists.ref_profile.text",
                "**/distances/profile_dists.results.text",
                "**/distances/profile_dists.run.json",
                "**/merged/locidex.merge.profile.tsv.gz",
            ]
        }
    }
}
