iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        validate = true
        files {
            idkey = "irida_id"
            global = [
                "**/ArborView/arborview.clustered_data_arborview.html",
                "**/clusters/gas.mcluster.clusters.tsv",
                "**/clusters/gas.mcluster.run.json",
                "**/clusters/gas.mcluster.thresholds.json",
                "**/clusters/gas.mcluster.tree.nwk",
                "**/distances/profile_dists.allele_map.json",
                "**/distances/profile_dists.query_profile.tsv",
                "**/distances/profile_dists.ref_profile.tsv",
                "**/distances/profile_dists.results.tsv",
                "**/distances/profile_dists.run.json",
                "**/merged/locidex.merge.profile.tsv",
                "**/pipeline_info/software_versions.yml"
            ]
        }
    }
}
